.cards {
  margin:0 auto 30px auto;
  padding:0;
  list-style-type:none;
  max-width:900px;
  width: 100%;
  text-align: center;
  user-select: none;

  .card{
    font-weight: 400;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    display: inline-block;
    color:#111;
    cursor:pointer;
    font-size: 26px;
    margin:30px 25px;
    width: 130px;
    height:130px;
    line-height: 100px;
    text-align:center;
    position: relative;
    vertical-align:top;
    user-select: none;
    perspective: 800px;
    transition: all 0.4s ease-in-out;

    &:last-child {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/santa.jpg") center top;
      background-size:cover;  
      display:block;
      clear:both;
      margin: 20px auto 0 auto;
      width: 200px;
      height: 275px;
      .door {
        font-size: 100px;
        width: 200px;
        height: 275px;
        line-height: 240px;
      }
      .revealed {
          line-height: 123px;
      }
    }

    .door {
      user-select: none;
      color:#fff;
      font-size: 70px;
      position: absolute;
      top:0;
      left:0;
      background-color: #ec0d46;
      box-sizing: border-box;
      //border-radius: 6px;
      padding:15px;
      width: 130px;
      height:130px;
      transform-origin: 0 40%; 
      transition: all 0.4s ease-in-out;
      transform-style: preserve-3d;
      &.open {
        background-color:#ccc;
        //box-shadow: 14px 0px 15px -1px rgba(0,0,0,0.2);
        color:black;
        transform: rotate3d(0, 1, 0, -98deg);
      }
    }

    

    &.current .door {
      background-color: #7EAD44;
      &.open{
        color: #7EAD44;
      }
    }

    .revealed {
      user-select: none;
      width: 130px;
      height:130px;
      overflow: hidden;
      img{
        width: 100%;
        //border-radius:6px;
        height:100%;
      }
    }
  }
}

li.card:after {
  content:'';
  display:block;
  width: 130px;
  height: 30px;
  -webkit-transform: skew(-44deg);
     -moz-transform: skew(-44deg);
       -o-transform: skew(-44deg);
  background:#f58fa9;
  position:absolute;
  left:15px;
  top:-30px;

}

li.card:before {
  content:'';
  display:block;
  width: 30px;
  height: 130px;
  -webkit-transform: skewY(-44deg);
     -moz-transform: skewY(-44deg);
       -o-transform: skewY(-44deg);

  background:black;
  position:absolute;
  left:130px;
  top:-15px;

}

li:last-child.card:after {
  width:200px;

}

li:last-child.card:before {
  height:275px;
  left:200px;

}


.jiggle {
  animation: jiggle 0.2s infinite;
  transform: rotate(-1deg);
}

@keyframes jiggle {
  0% {
        transform: rotate(-1deg);
  }
  50% {
      transform: rotate(1deg);
  }
}
