<div class="door {{#if available}} available {{/if}}">{{day}}</div>
{{#if available}} 
<div class="revealed">
    {{#if image}}
        <a href="{{link}}">
            <img src="{{image}}" alt="day">  
        </a>
    {{/if}}
    
</div>
 {{/if}}